	
	.bandMembers {
		padding-left:150px;
		font-style: italic;
		}
	.albumCover {
		background-image: url("groundup.jpg");
		height:180px
		width:200px;
		background-repeat: no-repeat;
		background-postion:center;
		}
	a:link {
		color:blue;
		text-decoration:none;
		}
	a:visited{
		color:blue;
		text-decoration:none;
		}
	a:hover{
		text-decoration:underline;
		background-color:yellow;
		}
	a:active{text-decoration:none;
		}