
	.header {
		text-align: center;
		}
	a {
		padding-left: 15px;
		padding-right: 15px;
		}
	a:link {
		color:blue;
		}
	a:visited{
		color:green;
		}
	a:hover{
		font-weight:bold;
		}
	a:active{
		text-decoration:none;
		}
	
	.footer2 {
		text-align: center;
		font-weight: bold;
		position:relative;
		}
	.footer1 {
		text-align: center;
		font-weight: bold;
		position:relative;
		}
	th {
		font-family:"Comic Sans MS", cursive, sans-serif
		}
	.jumbotron {
		background-color: Aqua;
		}
	table.borderless td, table.borderless th {
		border:none !important;
		}
	table.small {
		text-align:center;
		width:10%;
		font-size:100%;
		}