	
	.bandMembers {
		padding-left:150px;
		font-style: italic;
		}
	.albumCover {
		background-image: url("groundup.jpg");
		height:180px
		width:200px;
		background-repeat: no-repeat;
		background-postion:center;
		}
	