
	.header {
		text-align: center;
		}
	a {
		padding-left: 15px;
		padding-right: 15px;
		}
	a:link {
		color:blue;
		}
	a:visited{
		color:green;
		}
	a:hover{
		font-weight:bold;
		}
	a:active{
		text-decoration:none;
		}
	
	.footer2 {
		text-align: center;
		font-weight: bold;
		position:absolute;
		bottom:0;
		width:100%;
		height:30px;
		}
	.footer1 {
		text-align: center;
		font-weight: bold;
		position:absolute;
		bottom:0;
		width:100%;
		height:60px;
		}
	th {
		font-family:"Comic Sans MS", cursive, sans-serif
		}
	