
	.header {
		text-align: center;
		}
	a.header {
		color: blue;
		padding-left: 15px;
		padding-right: 15px;
		}
	.footer2 {
		text-align: center;
		font-weight: bold;
		position:absolute;
		bottom:0;
		width:100%;
		height:30px;
		}
	.footer1 {
		text-align: center;
		font-weight: bold;
		position:absolute;
		bottom:0;
		width:100%;
		height:60px;
		}
	